body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 650px;
    table-layout: fixed;
    color: #4CAF50;
}

table tr {
    background-color: #fff;
    padding: .35em;
    border-bottom: 1px dotted #8BC34A;
}

table tr:last-child {
    border-bottom: 2px solid #18521b;
}

table th,
table td {
    padding: 1em 10px 1em 1em;
}

tbody th {
    color: #0f7d13;
}

.txt {
    text-align: left;
    font-size: 1em;
}

.price {
    text-align: right;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%
    }

    table th {
        display: block;
        border-right: none;
        border-bottom: 2px solid #0f7d13;
        padding-bottom: .6em;
        margin-bottom: .6em;

    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        display: block;
        margin-bottom: 2em;
        border-bottom: 2px solid #0f7d13;
    }

    table td {
        border-bottom: 1px solid #bbb;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }

    table td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
    }

    table td:last-child {
        border-bottom: 0;
    }
}